+component(form)

  +part(container)

    label
      display: block
      margin-bottom: 2px
      font-weight: bold

    input, textarea
      display: block
      padding: 1em
      width: 100%
      font-size: 0.8em
      font-weight: bold
      border: 2px solid darken($color-grey, 5%)
      border-radius: 3px
      outline: 0

      &:active, &:focus
        border: 2px solid darken($color-grey, 7%)

      +option(inline-form)
        height: 2.6em

  +part(under-label)
    display: block
    color: $color-grey
    font-size: 0.8em

  +part(help)
    display: block
    font-size: 0.8em

    i
      vertical-align: middle

    +option(error)
      color: $color-danger

  +part(error)
    border: 2px solid $color-danger !important

  +part(checkbox)

    +option(inline)
      font-size: 0.8em
      vertical-align: middle

      input
        vertical-align: middle





