+component(stack)

  +part(container)
    padding-top: 0.3em
    clear: both

    &:after
      display: block
      clear: both
      content: ''

  +part(item)
    display: inline-block
    padding: 10px 20px
    color: #a0a0a0
    font-size: 14px
    font-weight: 300
    text-transform: uppercase
    text-decoration: none
    border: 1px solid #d6d6d6
    border-radius: 3px
    cursor: pointer

    +option(active)
      color: #333
      border-bottom: 2px solid #fce04c

      &:hover
        color: #333
        border-bottom: 2px solid #fce04c

    &:hover
      color: #333
      background: #f7f7f7


