<%= paragraph gettext("Hello %{name}!", name: @classified.firstname) %>
<%= paragraph gettext("The team has rejected your classified ... You should edit it!") %>
<%= click gettext("Edit my classified"), tenant_url(@classified.tenant.domain, user_classified_path(@conn, :show)) %>
