<%= paragraph gettext("Hello %{name}!", name: @classified.firstname) %>
<%= paragraph gettext("The team approved your classified!") %>
<%= click gettext("See my classified"), tenant_url(@classified.tenant.domain, app_classified_path(@conn, :show, @classified.id)) %>
