<!DOCTYPE html>
<html lang="<%= html_current_lang(@conn) %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= render_existing(@view_module, "description." <> @view_template, assigns) || description(@conn) %>">

    <%= render_existing(@view_module, "opengraph." <> @view_template, assigns) %>

    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>" />
    <link href="https://file.myfontastic.com/jiBmkbvREKqK69TasUa4W/icons.css" rel="stylesheet">

    <script src="<%= static_path(@conn, "/javascripts/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/javascripts/app.js") %>"></script>
    <script>require('initialize')</script>

    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/stylesheets/vendor.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/stylesheets/app.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, current_tenant_stylesheet(@conn)) %>">

    <title><%= render_existing(@view_module, "title." <> @view_template, assigns) || title(@conn) %></title>
  </head>

  <body id="csstyle">
    <div id="main">
      <%= render Babysitting.PartialsView, "app_config.html", assigns %>
      <%= render Babysitting.PartialsView, "flash.html", assigns %>

      <div id="sidebar-wrapper">
        <%= render Babysitting.App.PartialsView, "sidebar.html", assigns %>
      </div>

      <div id="page-wrapper">
        <%= render @view_module, @view_template, assigns %>
        <%= render Babysitting.App.PartialsView, "footer.html", assigns %>
      </div>
    </div>

    <%= render Babysitting.PartialsView, "tracking.html", assigns %>

  </body>
</html>
