<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://file.myfontastic.com/m8mmAajfNjnQR6AVvSEyMo/icons.css" rel="stylesheet">

    <script src="<%= static_path(@conn, "/javascripts/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/javascripts/app.js") %>"></script>
    <script>require('initialize')</script>

    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/stylesheets/vendor.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/stylesheets/app.css") %>">
    <link href="https://file.myfontastic.com/jiBmkbvREKqK69TasUa4W/icons.css" rel="stylesheet">
    
    <title><%= title(@conn) %></title>
  </head>

  <body id="csstyle">
    <%= render Babysitting.App.PartialsView, "navbar.html", assigns %>
    <%= render @view_module, @view_template, assigns %>
    <%= render Babysitting.App.PartialsView, "footer.html", assigns %>

  </body>
</html>
