<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://file.myfontastic.com/m8mmAajfNjnQR6AVvSEyMo/icons.css" rel="stylesheet">

    <script src="<%= static_path(@conn, "/javascripts/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/javascripts/app.js") %>"></script>
    <script>require('initialize')</script>

    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/stylesheets/vendor.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/stylesheets/app.css") %>">

    <!-- 
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    -->
    <title>Hello</title>
  </head>

  <body id="csstyle">
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
