<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://file.myfontastic.com/jiBmkbvREKqK69TasUa4W/icons.css" rel="stylesheet">

    <script src="<%= static_path(@conn, "/javascripts/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/javascripts/app.js") %>"></script>
    <script>require('initialize')</script>

    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/stylesheets/vendor.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/stylesheets/dashboard_user.css") %>">

    <title><%= gettext("My Account") %></title>
  </head>

  <body id="csstyle">
    <div id="main">
      <%= render Babysitting.PartialsView, "app_config.html", assigns %>
      <%= render Babysitting.PartialsView, "flash.html", assigns %>

      <%= if (@view_module != Elixir.Babysitting.DashboardUser.AuthView) do %>
        <%= "loool" %>
        <%= render Babysitting.DashboardUser.PartialsView, "sidebar.html", assigns %>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
