<div id="app"
    data-controller="dashboard.analytics.index"
    data-tenants='<%= data_tenants(@conn) %>'
></div>

<div id="content-wrapper">
  <div class="header__container">
    <div class="header__title">Analytics</div>
    <div class="header__description">Some statistics about the application</div>
  </div>

  <div class="container-fluid">
    <div class="+spacer"></div>

    <div id="graphs">
    </div>

  </div>
</div>
