<div id="content-wrapper">
  <div class="header__container">
    <div class="header__title">Analytics</div>
    <div class="header__description">Some statistics about the application</div>
  </div>
</div>