// ===========================================================
// Variables.sass
// ===========================================================
//
// @see http://sass-lang.com/guide#topic-2
//
// In this file you can add some variables to use in the entire
// project.
//
// @example
//
// $color-grey: #ccc
//

// Base colors
$color-white: #FFFFFF
$color-primary: #F85066
$color-primary: #51aded
$color-danger: #ed5153
$color-default: #536270
$color-warning: #FFB836
$color-success: #2CC990
$color-grey: #F9FAFC
$color-dark: #4c4f52
$color-blue: #39B4FF


// Tenants colors
$color-tenant-paris: #249991
$color-tenant-bordeaux: #F85066
$color-tenant-london: #CD6B97
$color-tenant-marseille: #3498DB
