+component(empty)
  
  +part(container)
    margin-top: 2em
    padding: 2em
    background-color: $color-grey
    border: 1px solid #E1E2E4
    border-radius: 5px
    text-align: center

    +gridle_state(sm)
      text-align: left

    +option(home)
      margin-top: 3em
      margin-bottom: 3em

  +part(artwork)
    display: none

    +gridle_state(sm)
      display: block
      text-align: center
      img
        height: 200px

  +part(title)
    color: $color-dark
    font-size: 1.4em
    font-weight: bold

  +part(description)
    margin-top: 1em
    margin-bottom: 1.3em

    +gridle_state(sm)
      text-align: justify

  +part(button)
    display: inline-block
    margin-top: 0.55em
    padding: 0.5em 1em
    color: $color-white
    font-weight: bold
    text-transform: capitalize
    background-color: $color-primary
    border-radius: 5px

