+component(footer)

  +part(container)
    margin-top: 7em
    width: 100%
    text-align: center

  +part(links)
    width: 70%
    margin: 0 auto
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11)
    min-height: 100px
    margin-bottom: 10em

  +part(link)
    color: $color-dark
    font-weight: bold

    &:after
      content: ','

    &:last-of-type
      &:after
        content: ''
