+component(hero)
  +part(container)
    position: relative
    width: 100%
    min-height: 20em
    text-align: center
    background-size: cover
    background-position: center center

  +part(overlay)
    position: absolute
    display: block
    top: 0
    left: 0
    right: 0
    bottom: 0
    content: ''
    background: black
    opacity: 0.3

  +part(title)
    position: relative
    z-index: 2
    color: white
    font-size: 20px
    font-weight: bold
    font-size: 40px
    padding-top: 4em
    text-transform: capitalize

  +part(description)
    color: white
    position: relative
    margin-top: 0.5em
    font-size: 22px