+component(hero)
  +part(container)
    position: relative
    width: 100%
    min-height: 20em
    text-align: center
    background-size: cover
    background-position: center center

  +part(overlay)
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: black
    content: ''
    opacity: 0.3

  +part(title)
    position: relative
    z-index: 2
    padding-top: 4em
    color: $color-white
    font-size: 31px
    font-weight: bold
    line-height: 1em
    text-transform: capitalize

    +gridle_state(md)
      font-size: 40px

  +part(description)
    position: relative
    margin-top: 0.5em
    color: $color-white
    font-size: 20px

    +gridle_state(md)
      font-size: 22px
