+component(post)
  
  +part(container)
    margin-top: 1em
    text-align: center

    +gridle_state(sm)
      text-align: left

  +part(name)
    font-size: 1.3em
    color: $color-dark
    font-weight: bold

  +part(age)
    color: lighten($color-dark, 15%)
    font-weight: bold
    padding-bottom: 1em

  +part(avatar)
    padding-top: 1.5em
    img
      display: inline-block
      width: 180px
      height: 180px
      border-radius: 50%


  +part(item)
    display: block
    text-decoration: none
    color: $color-dark
    border-radius: 5px
    padding-top: 2em
    padding-bottom: 2em
    outline: 0
    
    &:hover
      background-color: darken($color-grey, 3%)
      cursor: pointer
