+component(alert)
  margin-top: 0.3em
  margin-bottom: 0.3em
  padding: 1em
  border-radius: 5px

  strong
    font-weight: bold

  +option(warning)
    color: white
    background-color: $color-warning

  +option(success)
    color: white
    background-color: $color-success

  +option(danger)
    color: white
    background-color: $color-danger

  +option(info)
    color: white
    background-color: $color-blue
