<div id="sidebar-wrapper">
  <div class="sidebar__container">
    <div class="sidebar__signout">
      <a class="button --warning-transparent" href="#>"><i class="icon-lock"></i> Sign out</a>
    </div>

    <ul class="sidebar__links">
      <li class="sidebar__link "><a href="#"><i class="icon-chart"></i> Analytics</a></li>
      <li class="sidebar__link"><a href="#"><i class="icon-file"></i> Classified</a></li>
    </ul>
  </div>
</div>
