<meta property="og:title" content="<%= fullname(@classified) %>, baby sitter"/>
<meta property="og:description" content="<%= og_short_description(@classified) %> <%= gettext "See the classified on" %> <%= site_name(@conn) %> !" />
<meta property="og:url" content="<%= url_classified(@conn, @classified) %>" />
<meta property="og:site_name" content="<%= site_name(@conn) %>"/>
<meta property="og:type" content="article" />
<meta property="og:image" content="<%= url_avatar(@conn, @classified) %>"/>
